.timeline {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	
	.timeline-item {
		padding-left: 40px;
		position: relative;
		&:last-child {
			padding-bottom: 0;
		}
	}
	
	.timeline-time {
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 3px;
		margin: 0 0 .5em 0;
		text-transform: uppercase;
		
		&--small {
			letter-spacing: 1px;
		}
	}
	
	.timeline-marker {
		top: 0; bottom: 0; left: 0;
		width: 15px;
		&:before {
			background: $accent;
			border: 3px solid $accent;
			border-radius: 100%;
			content: "";
			display: block;
			height: 15px;
			position: absolute;
			top: 4px; left: -3px;
			width: 15px;
			transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
		}
		&:after {
			content: "";
			width: 3px;
			background: #CCD5DB;
			display: block;
			position: absolute;
			top: 30px; bottom: 0; left: 6px;
		}
		.timeline-item:last-child &:after { content: none; }
	}
	
	.timeline-item:hover .timeline-marker:before { background: transparent; }
	
	.timeline-content { 
		padding-bottom: 40px;
		line-height: 1.6em;
		
		&--title { font-weight: bold; }
	}
}

@media (min-width: $screen-md) {
	.timeline { display: table; }
	.timeline-item {
		display: table-row;
		padding: 0;
	}
	.timeline-marker, .timeline-content {
		display: table-cell;
		vertical-align: top;
	}
	.timeline-marker {
		position: relative;
	}
	.timeline-content {
		padding-left: 30px;
	}
}