@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$accent: #fd746c;
$gradient: #3B4371;

// media query for smaller screen 
$screen-xs: 600px;
$screen-md: 800px;
$screen-lg: 1000px;

@import '_terminal';
@import '_timeline';

// angled div edges
@mixin angle($pseudo, $flip: false, $angle: 3.5deg) {
	position: relative;
	z-index: 1;
	$selector: '&:#{$pseudo}';
	
	#{$selector} {
		background: inherit;
		content: '';
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
	}
	
	@if $pseudo == 'before' {
		#{$selector} {
			top: 0;
			@if $flip {
				transform: skewY($angle * -1);
				transform-origin: 0 0;
			} @else {
				transform: skewY($angle);
				transform-origin: 100% 0;
			}
		}
	}
	@if $pseudo == 'after' {
		#{$selector} {
			bottom: 0;
			@if $flip {
				transform: skewY($angle);
				transform-origin: 0 100%;
			} @else {
				transform: skewY($angle * -1);
				transform-origin: 100%;
			}
		}
	}
}

body {
	margin: 0; 
	* { box-sizing: border-box; }
}

.container {
	font-family: Montserrat; 
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	max-width: 100vw;
}

.flex-container{ 
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;

	&--small {
		width: 300px;
		margin: 10px auto;
	}
}

section { 
	padding: 20px; 
	display: flex;
	flex-direction: column; 
	justify-content: center;
}

.section-title {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 7em;
	text-align: center;
	margin: 30px auto;
}

.section-content {
	max-width: 800px;
	margin: 10px auto; 
	
	&--small {
		max-width: 510px;
	}
	
	&--btns {
		text-align: center;
		padding: 8px;
	}
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px 5px; 
	border-radius: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;
	transition: all 300ms linear;
	
	&:hover {
		background: rgba(256, 356, 356, 0.2);
	}

	&--round {
		width: 50px;
		height: 50px;
		padding: 12px;
		border-radius: 50%;
		&:hover { 
			background: #fff;
			color: $gradient; 
		}
	}
}

#introduction {
	@include angle(after);
	min-height: 100vh;
	background: $accent; 
	background: -webkit-linear-gradient(55deg, $accent, $gradient);
	background: linear-gradient(55deg, $accent, $gradient);
	color: #fff;
	font-size: 1.1em;

	&::after { height: 100%; }
}

#self-img {
	width: 130px;
	border-radius: 50%;
	vertical-align: middle;
}

#lifeline { margin: 20px auto; }

#projects { 
	@include angle(before, true);
	background: #c8cee9;
}

#footer { 
	// @include angle(before,true);
	background: $gradient;
	color: white;
	margin: 20px auto 0; 
	text-align: center;
}

.red { color: $accent; }

@media (max-width: $screen-lg) {
	.section-title {
		font-size: 4em;
		text-align: center;
		margin: 30px auto;
	}
}

@media (max-width: $screen-md) {
	.btn {
		padding: 5px 10px;
		margin: 5px 2px;

		&--round {
			padding: 12px;
		}
	}
}
