@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.terminal {
  position: relative;
  text-align: left;
  width: 600px;
  max-width: 100%;
  height: 400px;
  min-height: 50vh;
  margin: 5px; }
  .terminal .terminal-title-bar {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px; }
  .terminal .terminal-btn {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px; }
    .terminal .terminal-btn--red {
      background: #E75448; }
    .terminal .terminal-btn--yellow {
      background: #E5C30F; }
    .terminal .terminal-btn--green {
      background: #3BB662; }
  .terminal .terminal-body {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto; }
    .terminal .terminal-body .typed-cursor {
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite; }
    .terminal .terminal-body .terminal-output {
      color: #fd746c;
      padding-left: 20px;
      line-height: 135%;
      letter-spacing: 1px; }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 800px) {
  .terminal {
    display: none; } }
.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .timeline .timeline-item {
    padding-left: 40px;
    position: relative; }
    .timeline .timeline-item:last-child {
      padding-bottom: 0; }
  .timeline .timeline-time {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase; }
    .timeline .timeline-time--small {
      letter-spacing: 1px; }
  .timeline .timeline-marker {
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px; }
    .timeline .timeline-marker:before {
      background: #fd746c;
      border: 3px solid #fd746c;
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 4px;
      left: -3px;
      width: 15px;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
    .timeline .timeline-marker:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 6px; }
    .timeline-item:last-child .timeline .timeline-marker:after {
      content: none; }
  .timeline .timeline-item:hover .timeline-marker:before {
    background: transparent; }
  .timeline .timeline-content {
    padding-bottom: 40px;
    line-height: 1.6em; }
    .timeline .timeline-content--title {
      font-weight: bold; }

@media (min-width: 800px) {
  .timeline {
    display: table; }

  .timeline-item {
    display: table-row;
    padding: 0; }

  .timeline-marker, .timeline-content {
    display: table-cell;
    vertical-align: top; }

  .timeline-marker {
    position: relative; }

  .timeline-content {
    padding-left: 30px; } }
body {
  margin: 0; }
  body * {
    box-sizing: border-box; }

.container {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  max-width: 100vw; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flex-container--small {
    width: 300px;
    margin: 10px auto; }

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 7em;
  text-align: center;
  margin: 30px auto; }

.section-content {
  max-width: 800px;
  margin: 10px auto; }
  .section-content--small {
    max-width: 510px; }
  .section-content--btns {
    text-align: center;
    padding: 8px; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  transition: all 300ms linear; }
  .btn:hover {
    background: rgba(255, 255, 255, 0.2); }
  .btn--round {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%; }
    .btn--round:hover {
      background: #fff;
      color: #3B4371; }

#introduction {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background: #fd746c;
  background: -webkit-linear-gradient(55deg, #fd746c, #3B4371);
  background: linear-gradient(55deg, #fd746c, #3B4371);
  color: #fff;
  font-size: 1.1em; }
  #introduction:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1; }
  #introduction:after {
    bottom: 0;
    transform: skewY(-3.5deg);
    transform-origin: 100%; }
  #introduction::after {
    height: 100%; }

#self-img {
  width: 130px;
  border-radius: 50%;
  vertical-align: middle; }

#lifeline {
  margin: 20px auto; }

#projects {
  position: relative;
  z-index: 1;
  background: #c8cee9; }
  #projects:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1; }
  #projects:before {
    top: 0;
    transform: skewY(-3.5deg);
    transform-origin: 0 0; }

#footer {
  background: #3B4371;
  color: white;
  margin: 20px auto 0;
  text-align: center; }

.red {
  color: #fd746c; }

@media (max-width: 1000px) {
  .section-title {
    font-size: 4em;
    text-align: center;
    margin: 30px auto; } }
@media (max-width: 800px) {
  .btn {
    padding: 5px 10px;
    margin: 5px 2px; }
    .btn--round {
      padding: 12px; } }

/*# sourceMappingURL=styles.css.map */
